*{
    font-family: Arial;
}
body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    display: flex;
    justify-content:space-between;
    width: 990px;
}
    #imglogo{
    width: 150px;
}
.logo{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}
nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;

}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #017070;
}
nav a:hover{
    background-color: #017070;
    color: white;
}
#banner{
    background-image: url('../image/imagem2.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}
.columm{
    flex-direction: column;
}
.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_opitions{
    height: 210px;
    display: flex;
}
    .banner_headline h1{
        color: white;
        font-size: 50px;
        text-shadow: 2px 2px 0 black;
        margin: 0;
        padding: 0;
        max-width: 300px;
    }
    .banner_headline h2{
        color: white;
        font-size: 20px;
        text-shadow: 0px 0.5px 0 black;
        margin: 0;
        padding: 0;
        max-width: 300px;
        margin-top: 30px;
    }
.banner1,
.banner2,
.banner3{
    flex: 1;
    color: white;
    padding: 20px;
}
.banner1{
    background-color: #017070;
}
.banner2{
    background-color: #005757;
}
.banner3{
    background-color: #004040;
}
.banner_title{
    font-size: 21px;
}
.banner_text{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_opitions a{
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-size: 13px;
    text-decoration: none;
}
.banner_preco{
    display: flex;
    border-bottom: 0.5px solid white;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    font-size: 15px;
}
.banner1:hover,
.banner2:hover,
.banner3:hover{
    transform: scale(1.07);
}